[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
mlflow = "*"
xgboost = "*"
scikit-learn = "*"
pandas = "*"
numpy = "*"

[dev-packages]
requests = "*"

[requires]
python_version = "3.12"
python_full_version = "3.12.3"
