[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
xgboost = "*"
numpy = "*"
scikit-learn = "==1.6.1"
pandas = "*"
click = "*"
mlflow = "*"
scipy = "*"

[dev-packages]
requests = "*"

[requires]
python_version = "3.12"
python_full_version = "3.12.3"
